<div class="wrapper">
  <div class="container">
    <h1>Stupid Coaching</h1>
  </div>

  <div class="container">
    <p>Ask your coach anything:</p>
  </div>

  <div class="container">
    <form action="/answer">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
